In [1]:
# Initial imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Load stroke dataset
file_path = "Resources/healthcare-dataset-stroke-data.csv"
stroke_df = pd.read_csv(file_path)
stroke_df.head(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [3]:
# Rename columns
stroke_df.columns = ['ID', 'Gender', 'Age', 'Hypertension', 'HeartDisease', 'EverMarried', 'Work', 'Residence', 'Glucose', 'BMI', 'Smoking', 'Stroke']
stroke_df.head(10)

,ID,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [4]:
# Change first (ID) column into Index
stroke_df = stroke_df.rename({'ID': 'Index'}, axis=1)
stroke_df = stroke_df.set_index('Index')
stroke_df.index.name = 'ID'

print(f"original number of rows in dataset: {len(stroke_df.index)}")

stroke_df.head(10)

original number of rows in dataset: 5110

,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
ID,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1

In [5]:
# Remove rows that have at least 1 null value.
for column in stroke_df.columns:
    null_count = stroke_df[column].isnull().sum()
    
    if (null_count == 1):
        print(f"{column} column has {null_count} null value.")
    else:
        print(f"{column} column has {null_count} null values.")
    #print(f"Column {column} has {stroke_df[column].isnull().sum()} null value(s).")

# Drop null rows
clean_df = stroke_df.dropna()
clean_df.head(10)

print()
print(f"After dropping rows with null values, we now have {len(clean_df.index)} rows (was originally {len(stroke_df.index)}).")

Gender column has 0 null values.
Age column has 0 null values.
Hypertension column has 0 null values.
HeartDisease column has 0 null values.
EverMarried column has 0 null values.
Work column has 0 null values.
Residence column has 0 null values.
Glucose column has 0 null values.
BMI column has 201 null values.
Smoking column has 0 null values.
Stroke column has 0 null values.

After dropping rows with null values, we now have 4909 rows (was originally 5110).

In [6]:
# Create function to inspect columns
def inspect_col(col):
    # Display total number of rows
    print(f"current number of rows in dataset: {len(clean_df.index)}")
    
    # counting unique values
    print(f"{col} column unique values: {len(pd.unique(clean_df[col]))}")
    print()
    
    # Display value counts for column
    print(clean_df[col].value_counts(ascending=False))

In [7]:
# Inspect Gender column
inspect_col('Gender')

current number of rows in dataset: 4909
Gender column unique values: 3

Female    2897
Male      2011
Other        1
Name: Gender, dtype: int64

In [8]:
# Drop outlier rows
clean_df = clean_df[clean_df.Gender != 'Other']

print(f"current number of rows in dataset: {len(clean_df.index)}")

current number of rows in dataset: 4908

In [9]:
# Inspect Age column
inspect_col('Age')

current number of rows in dataset: 4908
Age column unique values: 104

57.00    93
78.00    93
52.00    85
54.00    84
51.00    83
         ..
1.40      3
0.16      3
0.40      2
0.08      2
0.48      2
Name: Age, Length: 104, dtype: int64

In [10]:
# Round Age to the nearest whole number
clean_df['Age'] = round(clean_df['Age'])
inspect_col('Age')

current number of rows in dataset: 4908
Age column unique values: 83

78.0    93
57.0    93
2.0     88
52.0    85
54.0    84
        ..
4.0     34
10.0    34
7.0     31
6.0     23
0.0     19
Name: Age, Length: 83, dtype: int64

In [11]:
# Inspect Hypertension column
inspect_col('Hypertension')

current number of rows in dataset: 4908
Hypertension column unique values: 2

0    4457
1     451
Name: Hypertension, dtype: int64

In [12]:
# Inspect HeartDisease column
inspect_col('HeartDisease')

current number of rows in dataset: 4908
HeartDisease column unique values: 2

0    4665
1     243
Name: HeartDisease, dtype: int64

In [13]:
# Inspect EverMarried column
inspect_col('EverMarried')

current number of rows in dataset: 4908
EverMarried column unique values: 2

Yes    3204
No     1704
Name: EverMarried, dtype: int64

In [14]:
# Inspect Work column
inspect_col('Work')

current number of rows in dataset: 4908
Work column unique values: 5

Private          2810
Self-employed     775
children          671
Govt_job          630
Never_worked       22
Name: Work, dtype: int64

In [15]:
# Inspect Residence column
inspect_col('Residence')

current number of rows in dataset: 4908
Residence column unique values: 2

Urban    2490
Rural    2418
Name: Residence, dtype: int64

In [16]:
# Inspect Glucose column
inspect_col('Glucose')

current number of rows in dataset: 4908
Glucose column unique values: 3851

93.88     6
73.00     5
91.68     5
91.85     5
72.49     5
         ..
137.45    1
72.06     1
97.90     1
230.59    1
85.28     1
Name: Glucose, Length: 3851, dtype: int64

In [17]:
# Inspect BMI column
inspect_col('BMI')

current number of rows in dataset: 4908
BMI column unique values: 418

28.7    41
28.4    38
26.7    37
27.6    37
26.1    37
        ..
48.7     1
49.2     1
51.0     1
49.4     1
14.9     1
Name: BMI, Length: 418, dtype: int64

In [18]:
# Inspect Smoking column
inspect_col('Smoking')

current number of rows in dataset: 4908
Smoking column unique values: 4

never smoked       1852
Unknown            1483
formerly smoked     836
smokes              737
Name: Smoking, dtype: int64

In [19]:
# Inspect Stroke column
inspect_col('Stroke')

current number of rows in dataset: 4908
Stroke column unique values: 2

0    4699
1     209
Name: Stroke, dtype: int64

In [20]:
# Switch values so that 0 = stroke and 1 = no stroke
clean_df['Stroke'] = clean_df['Stroke'].replace([0,1],[1,0])

# Inspect Stroke column
inspect_col('Stroke')

current number of rows in dataset: 4908
Stroke column unique values: 2

1    4699
0     209
Name: Stroke, dtype: int64

In [21]:
# Final output
print(f"After cleaning the data, we now have {len(clean_df.index)} rows (was originally {len(stroke_df.index)}).")

clean_df.head(10)

After cleaning the data, we now have 4908 rows (was originally 5110).

,Gender,Age,Hypertension,HeartDisease,EverMarried,Work,Residence,Glucose,BMI,Smoking,Stroke
ID,,,,,,,,,,,
9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,0
31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,0
60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,0
1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,0
56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,0
53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,0
10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,0
60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,0
12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,0
12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,0

In [22]:
# Saving cleaned data CSV
new_path = "Resources/stroke_cleaned.csv"
clean_df.to_csv(new_path, index=True)

In [23]:
# Get password
from getpass import getpass
db_password = getpass('Enter database password:')

# Set up connection string for database
db_string = f"postgresql://postgres:{db_password}@datastroke.c326vl9oo2i8.us-east-1.rds.amazonaws.com:5432/stroke_db"

Enter database password:········

In [24]:
# Setup engine
engine = create_engine(db_string)

In [25]:
# Send cleaned DataFrame to database
clean_df.to_sql(name='stroke_clean', con=engine, if_exists='replace')